.guest {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2px;
}

.shape {
    background-color: #00FF3D;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.guestList {
    background-image: url("../table.jpg");
    background-size: cover;
    position: relative;
    margin-bottom: 50px;
    display: inline-block;
}

.Circle {
    border-radius: 50%;
    width: 75%;
    padding-bottom: 75%;
}

.Rectangle {
    width: 100%;
    padding-bottom: 50%;
}

.solution {
    width: 75%;
    height: 400px;
}

.titleBar {
    display: flex;
    justify-content: space-between;
}

.table {
    text-align: center;
    margin: 40px auto 0;
}

.solutionPicker {
    text-align: center;
    margin-bottom: 30px;
}


.Happiness-happiness-4, .Happiness-happiness-5, .Happiness-happiness-6, .Happiness-happiness-8, .Happiness-happiness-10, .Happiness-happiness-11, .Happiness-happiness-12, .Happiness-happiness-17, .Happiness-happiness-18, .Happiness-happiness-19, .Happiness-happiness-20, .Happiness-happiness-21, .Happiness-happiness-22 {
    background-color: #87FF3E;
}

.Happiness-happiness-1, .Happiness-happiness-2, .Happiness-happiness-3 {
    background-color: #C8FF3F;
}

.Happiness-happiness--3, .Happiness-happiness--2, .Happiness-happiness--1 {
    background-color: #dd1a1a;
}

.Happiness-happiness-0, .Profit-happiness-0 {
    background-color: #FAFF40 !important;
}


.Rectangle .Happiness-happiness-23, .Rectangle .Happiness-happiness-5, .Circle .Happiness-happiness-22, .Circle .Happiness-happiness-4, div[class^="guest Profit-happiness-"] {
    background-color: #00FF3D;
}

.Rectangle .Happiness-happiness--5, .Circle .Happiness-happiness--4 {
    background-color: #8c0004 !important;
    color: white;
}
