.config-container {
    max-width: 520px;
    margin: 40px auto 0;
}

.titleBar {
    display: flex;
    justify-content: space-between;
}

.lastModified {
    display: flex;
    justify-content: right;
}