.new-config-container {
    margin: 40px auto 0;
}

.create-config-form-button {
    width: 100%;
}

.create-config-form-button:hover {
    color: #409456;
    border-color: #409456;
}

.create-config-form-button[disabled], .create-config-form-button[disabled]:hover, .create-config-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}


.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all .3s;
}

.optional-guest, .optional-table, .optional-relationship {
    width: calc(100% - 35px) !important;
    margin-right: 8px !important;
}

.dynamic-delete-button:hover {
    color: #ff4d4f;
}

.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.config-form-row {
    margin-bottom: 20px;
}

.config-form-row input, .config-form-row textarea {
    margin-bottom: 4px;
}

.indent {
    width: 90%;
    margin-left: 10%;
}

.titleBar {
    display: flex;
    justify-content: space-between;
}

.next {
    float: right;
}